.custom_header {
  text-align: center;
}

.table_header {
  text-align: center;
}

.user_cell {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.user_table {
  margin-left: 1rem;
}

.top_buttons {
  float:left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button.btn.btn-primary.test1 {
  margin-right: 5rem;
  margin-left: 2rem;
}

button.btn.btn-secondary.test2 {
  margin-right: 2.5rem;
  background-color:pink;
}

button.btn.btn-secondary.test3 {
  margin-right: 0rem;
  background-color:lightblue;
}

button.btn.btn-primary.btn-sm.add {
  margin-bottom: 0.25rem;
}

.clear_float {
  clear:both;
}

.custom-file-input.npc {
  width: 1rem;
  margin-top: 0.1rem;
}

.custom-file.file_lbl {
  margin-left: 0.5rem;
}
.form-control.name {
  width: 25%;
}

.lvl {
  width: 3rem;
}

.lvl.skill {
  width: 10rem;
}

.lvl.extra {
  width: 1rem;
  margin-left:0.5rem;
}

.lvl.extra.shield {
  margin-left: 2.1rem;
}

.lvl.extra.shld {
  margin-left: 1.5rem;
}

.lvl.extra.hlmt {
  margin-left: 2.4rem;
}


.lvl.extra.more {
  margin-left: 0rem;
}

.lvl.name {
  width: 15.3rem;
  margin-left: 0rem;
  margin-top:0.5rem;
}

.lvl_ofb_db {
  float:right;
}

.npc_selectors {
  float:left;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

select.custom-select {
  margin-right: 1rem;
}

.lbl_npc {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.test_gropup {
  margin-top: 0.5rem;
}

.btn.btn-success.add {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.btn.btn-danger.oma {
/*  margin-left: 25rem; */
}

.small_armor {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  padding-left:0rem;
}

.small_armor_shield {
  margin-left: 2.1rem;
}

.small_armor:first-child {
  padding-bottom: 0rem;
}

.leg_armor {
  margin-left: 0.5rem;
}

.skill_list {
  height: 100px;
  width: 240px;
  overflow: auto;
  margin-top: 1rem;
}

.tiny_button {
  height: 1.8rem;
  width: 2rem;
  margin-left: 0.25rem;
/*  background-color: #dc3545;
  color: white;*/
}

.input-group.background {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
